# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
/.cache

CHANGELOG.md
CONTRIBUTING.md
README.md
packages/shared/utils/README.md

.angular

.nx/self-healing

docs/site/.next
docs/site/out
docs/site/next-env.d.ts
packages/shared/angular/styles.css
packages/crud/shell/angular/styles.css
